@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');

:root{
        --red: #D61C4E;
        --redDark: #ba1844;
        --blue: #293462;
        --blueDark: #20294f;
        --blueDark2: #1a213d;
        --blueDark3: #101426;
}

:root::-webkit-scrollbar{
        width: 10px;
}

#info::-webkit-scrollbar{
        width: 2vh;
}

:root::-webkit-scrollbar-track{
        background-color: var(--blueDark);
}

#info::-webkit-scrollbar-track{
        background-color: rgba(1, 1, 1, 0.1);
}

:root::-webkit-scrollbar-thumb{
        background-color: var(--blueDark2);
        border-radius: 50px;
}

#info::-webkit-scrollbar-thumb{
        background-color: rgba(1, 1, 1, 0.4);
        border-radius: 50px;
}

:root::-webkit-scrollbar-thumb:hover{
        background-color: var(--blueDark3);
}

#info::-webkit-scrollbar-thumb:hover{
        background-color: rgba(1, 1, 1, 0.5);
}

body{
        font-family: Dosis, Arial;
        margin: 0;
        display: flex;
        justify-content: flex-end;
}

main{
        width: 85%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
}

nav{
        background-color: var(--red);
        height: 100%;
        width: 15%;
        position: fixed;
        top: 0;
        left: 0;
        color: white;
        text-align: center;
        display: grid;
        grid-template-areas: "title"
                             "nav-elements";
        grid-template-rows: 20% auto;
}

nav p{
        grid-area: title;
        margin: auto;
        padding: 10px;
}

nav div{
        grid-area: nav-elements;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
}

.nav-element{
        text-decoration: none;
        color: white;
        padding: 10px;
}

.nav-element:hover{ 
        background-color: var(--redDark);
}

#welcome{
        height: 100vh;
        width: 100%;
        background-color: var(--blue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
}

#info{
        height: 50vh;
        width: 100%;
        background-color: var(--redDark);
        color: white;
        display: grid;
        overflow: overlay;
        grid-template-areas: "info-text info-image";
        grid-template-columns: auto 40%;
        grid-template-rows: 100%;
        align-items: center;
}

#info img{
        width: 100%;
        height: 150%;
        grid-area: info-image;
        object-fit: cover;
}

#info div{
        margin: 5px;
        grid-area: info-text;
}

#projects{
        width: 100%;
        height: fit-content;
        background-color: var(--blue);
}

#projects h1{
        text-align: center;
        color: White;
}

#projects .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

#projects a{
        text-decoration: none;
}

#projects .row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
}

.project-tile{
        margin: 0 8px;
        overflow: hidden;
        width: 35vw;
        height: 25vw;
        display: grid;
        background-color: var(--redDark);
        border-radius: 10px;
        grid-template-areas: "project-title project-image";
        grid-template-columns: 30% auto;
        box-shadow: -5px 8px 0px #111;
}

.project-img{
        grid-area: project-image;
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.project-title{
        color: White;
        grid-area: project-title;
        margin: 5px;
}

/* media query */
@media (orientation: portrait){
        nav{
                grid-template-areas: "title nav-elements";
                grid-template-rows: auto;
                grid-template-columns: 20% auto;
                width: 100%;
                height: fit-content;
        }

        nav div{
                flex-direction: row;
        }

        main{
                width: 100%;
        }

        .project-tile{ font-size: small; height: 45vw; width: 70vw; margin-bottom: 10px; }
        #projects .row{ flex-direction: column; margin: 0; }
}

@media (max-width: 480px){
        nav{
                grid-template-areas: "title"
                                     "nav-elements";
                grid-template-rows: 20% auto;
                grid-template-columns: auto;
        }
}
