:root{
        --red: #D61C4E;
        --redDark: #ba1844;
        --blue: #293462;
        --blueDark: #20294f;
        --blueDark2: #1a213d;
        --blueDark3: #101426;
        --shadow: #b3b3b3;
}

body{
        font-family: Dosis, Arial;
        margin: 0;
}

main{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--red);
        color: white;
        display: grid;
        grid-template-rows: 15% auto;
        grid-template-columns: 60%;
        justify-content: center;
}

.title{
        text-align: center;
}

.formulary{
        padding: 10px;
        height: fit-content;
        background-color: var(--blue);
        border-radius: 10px;
        box-shadow: 10px 10px 0px var(--blueDark);
        display: flex;
        flex-direction: column;
        align-items: center;
}

input,button,textarea{
        width: 50vw;
        height: 5vh;
        margin: 5px;
        border: none;
        border-radius: 3px;
        background-color: var(--blueDark);
        color: White;
}

button[type="submit"]{
        box-shadow: 3px 4px 0px var(--blueDark2);
}

input::placeholder,textarea::placeholder{
        color: var(--shadow);
}

i{
        text-align: center;
}

textarea{
        resize: none;
        height: 10vh;
}
